@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-image: url("https://i.loli.net/2021/03/10/jdXWrcPl9UTNKDA.png");
    padding: 0 10%;
    font-family: 'Lobster';
    background-size:100% 100%;
    font-size: 12pt;
}

.main{
    padding-top: 50px;
}

.selectList{
    color: #333;
    background-color: #fff;
    width: 95%;
    /*display: inline-block;*/
    padding: 6px 12px;
    margin-bottom: 2px;
    /*margin-bottom: 2px;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: "Lobster";
    background:white;

}


#delivery-form{
    width: 400px;
    margin: 20px auto;
    border: 4px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    background-image: linear-gradient(rgba(169,168,184,0.5),rgba(169,168,184,0.5));
}
.delivery-form{
    width: 400px;
    margin: 20px auto;
    border: 4px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    background-image: linear-gradient(rgba(169,168,184,0.5),rgba(169,168,184,0.5));
}
.form-group{
    /*display: flex;*/
    /*align-items: baseline;*/
    padding: 10px 0;

}

.form-group-center{
    text-align: center;
    display: block;
}


.form-label{
    /*width: 100px;*/
    /*width: 30%;*/
    /*text-align: right;*/
    /*padding-right: 15px;*/
}

.form-input{
    font-family: "Lobster";
    display: block;
    width: 100%;
    /*height: 34px;*/
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

    box-sizing: border-box;
}

.form-btn{
    color: #333;
    background-color: #fff;
    width: 95%;
    /*display: inline-block;*/
    padding: 6px 12px;
    margin-bottom: 2px;
    /*margin-bottom: 2px;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: "Lobster";
    background: mediumaquamarine;
}
.form-btn:hover,.form button:active{
    background: darkcyan;
}


#location-info{
    padding: 10px 0;
    color: whitesmoke;
    text-align: right;
    font-weight: bold;
}

.location-info-success{
    color: black;
}

.location-info-failure{
    color: red;
}
#submit{
    marin-top:2px;
}

footer {
    background: rgb(0, 0, 0);
    width: 100%;
    color: white;
    text-align: center;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none; color:black;
}
a:link{
    text-decoration: none;
    color: black;
}

footer p{
    padding: 5px 0;
}

#test{
    width: 400px;
    margin: 0 auto;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 2px;
    border-collapse: collapse;

}

#getOrderBtn{
    /*margin: 0 auto;*/
}
#orderList{
    width: 400px;
    margin: 0 auto;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 2px;
    border-collapse: collapse;
    color: whitesmoke;
    background-image: linear-gradient(rgba(169,168,184,0.5),rgba(169,168,184,0.5));
    /*visibility: hidden;*/
}
#orderList2{
    width: 400px;
    margin: 0 auto;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 2px;
    border-collapse: collapse;
    /*visibility: hidden;*/
}

#getOrderBtn{
    margin-left: auto;
}
#orderList th,#orderList td{
    border: 2px solid white;
    padding: 5px;
}

#orderList tfoot td{
    text-align: right;
}
